.game-room {
    height: inherit;
    margin: 32px 32px 32px 32px;
}
.card-list-container {
    display: flex;    
    justify-content: center;   
}
.card-container {
    flex: 1 0 0;
    overflow-x: hidden;
}
.card-container:last-child {
    flex: 0 0 auto;
}